{% extends "/main/base.html" %}
{% block content %}
<div class="column is-6 is-offset-3 bg-dark">
    <legend class="border-bottom mb-4 "><h2>Create Form</h2></legend>
    <div class="box">

{% from "/main/_render_field.html" import render_field %}
        <form action="{{url_for('administrations.user_create_admin')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password_confirm) }}
            <h3>{{ form.admin.label }} {{ form.admin(class="form-control") }} </h3>
            <p>{{ form.submit(class='btn btn-primary') }}</p>
        </form>

    </div>
</div>

{% endblock %}