{% extends "/main/base.html" %}
{% block content %}
{% from "/main/_render_field.html" import render_field %}
<div class="column is-6 is-offset-3 bg-dark">
    <legend class="border-bottom mb-4 "><h2>Edit Form</h2></legend>
    <div class="box">

        <form action="{{url_for('administrations.user_update_admin', id=user.id)}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            <h3>{{ form.admin.label }} {{ form.admin(class="form-control") }} </h3>
            <p>{{ form.submit(class='btn btn-primary') }}</p>
        </form>
    </div>
</div>


{% endblock %}
