{% extends "/main/base.html" %}
{% block content %}
<font size="5" face="Courier New" >

<table border="2" width="100%" cellpadding="10">
    <tr>
     <th>ID</th>
     <th>Username</th>
     <th>Is Admin?</th>
     <th></th>
     <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <th>{{user.id}}</th>
        <th>{{user.username}}</th>
        <th>{{user.admin}}</th>
        <th width="5" class="border-light text-white bg-info ">
            <a href="{{url_for('administrations.user_update_admin', id=user.id)}}" class= "navbar-item">Edit</a></th>

        <th width="5" class="border-light text-white bg-danger ">
            <a href="{{url_for('administrations.user_delete_admin', id=user.id)}}" class="navbar-item">Delete</a></th>
       </tr>


    {% endfor %}


</table>
</font>

{% endblock %}