<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

{% from "_render_field.html" import render_field %}
<div class="column is-8 is-offset-2 bg-dark">
    <form method="POST" action="">
        <legend class="border-bottom mb-4 "><h2>Edit Password Form</h2></legend>
        <div class="box">
            {{ form.hidden_tag() }}
            {{ render_field(form.password_old) }}
            {{ render_field(form.password_new) }}
            {{ render_field(form.password_new2) }}
            <p>{{ form.submit(class="btn btn-outline-info ") }}</p>
        </div>
    </form>
</div>
{% endblock content %}