{% extends "/main/base.html" %}

{% block content %}
{% from "/main/_render_field.html" import render_field %}
<div class="column is-6 is-offset-3 bg-dark">
    <legend class="border-bottom mb-4 "><h2>Edit Form</h2></legend>
    <div class="box">

        <form method="post" >

            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.body) }}
            <p>{{ form.submit(class="btn btn-outline-info ") }}</p>

        </form>

    </div>
</div>

{% endblock %}