{% extends '/main/base.html' %}

{% block content %}

<div class="container bg-dark">
    </br>
    <h3 class="title"> Your choice </h3>

    {% for post in post %}
    <img width="128px" class="rounded-circle account-img"
         src="{{  url_for('posts.static', filename='profile_pics/' + post.author.image_file)}}">

    <h2 class="subtitle">Author: {{ post.author.username}} </h2>
    <h2 class="subtitle">Title: {{ post.title}} </h2>
    <h2 class="subtitle">Body: {{ post.body}} </h2>
    <h2 class="subtitle">Created: {{ post.timestamp.strftime("%d-%m-%Y %H:%M:%S")}} </h2>

    <br class="container">

    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            {% if current_user.id == post.author.id %}
            <a href="{{ url_for('posts.edit', id = post.id)}}" class="navbar-item">Edit</a>
            <a class="navbar-item" data-toggle="modal" data-target="#myModal">Delete</a>


            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content text-dark">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title ">Confirm page</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure that you want delete this post?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="{{ url_for('posts.delete', id = post.id)}}" class="btn btn-danger text-light" data-dismiss="">Delete</a>
                        </div>

                    </div>
                </div>
            </div>


            {%endif%}
        </div>
    </div>
    </br>
</div>
{% endfor %}
</div>
{% endblock %}
