{% extends "layout.html" %}

{% block content %}

<div class="column is-6 is-offset-3 bg-dark">
    <legend class="border-bottom mb-4 "><h2>Create Form</h2></legend>
    <div class="box">

       <h1>Add Product</h1>
        {% from "_render_field.html" import render_field %}
        <form action="{{url_for('add_product')}}" method="post" novalidate>
            {{ form.hidden_tag() }}

            {{ render_field(form.name) }}

            {{ render_field(form.count) }}
            {{ render_field(form.price) }}
            {{ render_field(form.category) }}
            <p>{{ form.submit(class='btn btn-primary') }}</p>
        </form>

    </div>
</div>

{% endblock %}

