<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    
</head>


<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar navbar-dark bg-dark">
             
                <div class="container-fluid">
                   <a class="navbar-brand" href="{{ url_for('index') }}"> <h3>
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="d-inline-block align-top rounded-circle float-center"  width="30" height="30" alt=""> My website</h3>

                   </a>
                    <div id="navbarMenuHeroA" class="navbar-menu">

                        <div class="navbar-start">
                         <a href="{{ url_for('index') }}" class="navbar-item"> Home</a>
                        </div>
                        <div class="navbar-end">                         
                         
                            {% if not current_user.is_authenticated %}
                            <a  href="{{ url_for('login') }}" class="navbar-item">Login</a>
                            <a  href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
                            {% endif %}

                            {% if current_user.is_authenticated %}
                            <a  href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
                            <a  href="{{ url_for('all_posts')}}" class="navbar-item">All posts</a>
                            <a  href="{{ url_for('posts')}}" class="navbar-item">My posts</a>
                            <a  href="{{ url_for('create') }}" class="navbar-item">Create post</a>
                            <a  href="{{ url_for('logout') }}" class="navbar-item">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                

            </nav>
        </div>
        
        <div class="hero-body">
            <div class="container has-text-centered">
                 {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
           <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
               {% block content %}
               {% endblock %}
            </div>
        </div>

        

        <footer>
          <p>&copy; Created by Oksana Petriv</p>
        </footer>
    </section>
</body>

</html>