<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
    <div class="column is-6 is-offset-3">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
        {% endif %}
    <form action="{{url_for('signup')}}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>

            <h3 style="color: #00394d" >
            {{ form.username.label }}</h3>
            {{ form.username(class="input is-large") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3 style="color: #00394d" >
            {{ form.email.label }}</h3>
            {{ form.email(class="input is-large") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3 style="color: #00394d" >
            {{ form.password.label }}</h3>
            {{ form.password(class="input is-large") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <h3 style="color: #00394d" >
            {{ form.password2.label }}</h3>
            {{ form.password2(class="input is-large") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}</p>
    </form>
      </div>
</div>
{% endblock %}
